/*
 *  filename dfhi-exercise.css
 *  author Hong-Phuc Bui
 *  initial version 27.12.2018
 */

html body {
    height: 100%;
}

body{
    margin: 8px;
}

.console-output {
    border: solid 0.5px hsl(0, 0%, 70%);
    height: 50ex;
    max-height: 50ex;
    font-family: "Source Code Pro", "Consolas" , monospace ;
    font-size: 10pt;
    margin-top: 8px;
    overflow: auto;
    padding: 10px 5px 5px 5px;
    background-color: hsl(0, 0%, 70%);
}